@font-face {
  font-family: "iconfont"; /* Project id 2852767 */
  src: url('//at.alicdn.com/t/font_2852767_cdd7dh8iqaa.woff2?t=1650072977052') format('woff2'),
       url('//at.alicdn.com/t/font_2852767_cdd7dh8iqaa.woff?t=1650072977052') format('woff'),
       url('//at.alicdn.com/t/font_2852767_cdd7dh8iqaa.ttf?t=1650072977052') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gaojingxinxi:before {
  content: "\e613";
}

.icon-jichuziliao:before {
  content: "\e611";
}

.icon-gonggao:before {
  content: "\e612";
}

.icon-duanxin:before {
  content: "\e71a";
}

.icon-schedule:before {
  content: "\e634";
}

.icon-wenjian-:before {
  content: "\e610";
}

.icon-guanbi:before {
  content: "\e60a";
}

.icon-danxuan:before {
  content: "\e694";
}

.icon-gonggongziliao:before {
  content: "\e61c";
}

.icon-texiaolizi:before {
  content: "\e9de";
}

.icon-jiaosequanxian1:before {
  content: "\e637";
}

.icon-houtairizhiguanli:before {
  content: "\e62b";
}

.icon-03_04wangzhankehuzhuceshenpi:before {
  content: "\e642";
}

.icon-BusinessSet_teamset:before {
  content: "\e600";
}

.icon-zuzhijigou:before {
  content: "\e7f1";
}

.icon-yonghushezhi1:before {
  content: "\e645";
}

.icon-soucha:before {
  content: "\e6ae";
}

.icon-yidongyunkongzhitaiicon45:before {
  content: "\e74a";
}

.icon-shouye:before {
  content: "\e606";
}

.icon-jiaosequanxian:before {
  content: "\e632";
}

.icon-yuyanshezhi:before {
  content: "\e628";
}

.icon-app:before {
  content: "\e666";
}

.icon-shezhi:before {
  content: "\e61f";
}

.icon-caidanshezhi:before {
  content: "\e653";
}
